<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- semantic ui ref + jquery -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.13/semantic.css" rel="stylesheet" type="text/css"/>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <script
    src="https://code.jquery.com/jquery-3.1.1.min.js"
    integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.13/semantic.js"></script>
    <title>EatMode.js</title>
</head>
<body>
    <div class="ui fixed menu">
        <div class="ui container">
            <!-- <div class="header item"><i class="spoon icon"></i> EatMotion</div> -->
            <a href="/" class="header item"><i class="spoon icon"></i> EatMotion</a>
        </div>  
        <div class="right menu">
            <% if (!user){ %>
            <a href="/login" class="item"><i class="small icon add user"></i> Register</a>
            <a href="/register" class="item"><i class="small icon sign in"></i> Login</a>
            <% } else { %>
            <a href="/logout" class="item"><i class="small icon sign out"></i>Logout</a>
            <% } %>
        </div>                  
    </div>