<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script
    src="https://code.jquery.com/jquery-3.1.1.min.js"
    integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
    crossorigin="anonymous"></script>
    <!-- semantic ui ref + jquery -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.13/semantic.css" rel="stylesheet" type="text/css"/>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <script src="/js/main.js"></script>
    
  <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.13/semantic.js"></script>
    <title>EatMode.js</title>
</head>
<body>
    <div class="ui fixed inverted menu">
        <div class="ui container">
            <!-- <div class="header item"><i class="spoon icon"></i> EatMotion</div> -->
            <!-- since it is a one page app atm this links no where -->
            <a href="/" class="header item"><i class="spoon icon"></i> EatMotion</a>
            <div class="item">
                    <form action="/search" method="POST" class="ui form container" id="headerForm">
                        <div class="field">
                            <div class="ui icon input">
                                <input type="text" autocomplete="off" name="username" placeholder="Enter a username...">
                                <i class="search icon"></i>
                            </div>                
                        </div>            
                    </form>
                    <!-- <div class="ui icon input">
                      <input id="headerSearch" type="text" placeholder="Search...">
                      <i class="search link icon"></i>
                    </div> -->
                  </div>
        </div>
                        
    </div>
    <div class="ui content-body container main">
        <% if(error && error.length > 0) { %>
            <div class="ui negative message">
                <i class="close icon"></i>
                <%=error%>
            </div>
        <% } else if (success && success.length > 0){ %>
            <div class="ui positive message">
                <i class="close icon"></i>
                <%=success%>
            </div>
        <% } %>
    </div> 