<% include ./partials/header %>
<div class="ui content-body text container">
        <div class="ui huge header">Welcome <em><%=user.name%></em></div>
        <div class="ui grid stackable two column">
                <div class="column ten wide">
                    <div class="ui header">Reviews</div>
                    <div class="ui segment divided items">
                        
                    </div>
                </div> 
                <div class="column six wide">
                    <div class="ui header">Recommendations</div>
                    <div class="ui segment divided items">

                    </div>
                </div>
        </div>
    </div>

<% include ./partials/footer %>