<% include ./partials/header %>
<div class="ui content-body text container">
        <div class="ui huge header">Welcome <em><%=user.name%></em></div>
        <div class="ui grid stackable two column">
                <div class="column ten wide">
                    <!-- show reviews here -->
                </div> 
                <div class="column six wide">
                    <!-- show recommendations -->
                </div>
        </div>
    </div>

<% include ./partials/footer %>