<% include ./partials/header %>
<div class="ui content-body text container">
        <div class="ui huge header">Welcome <em><%=user.name%></em></div>
            <div class="ui top attached segment">
                This is the account page for <em><%=user.name%></em>
            </div>
        </div>
    </div>

<% include ./partials/footer %>