<% include ./partials/header %>
<div class="ui text content-body container segment">
        <div class="ui huge header"> Login
            <form class="ui form" method="POST" action="/login">
                <div class="field">
                    <label >Username</label>
                    <input autofocus type="text" name="username" placeholder="Enter username...">
                </div>
                <div class="field">
                    <label>Password</label>
                    <input type="password" name="password" placeholder="Enter password...">
                </div>            
                <input class="ui brown button basic" type="submit" name="submit" value="Login">                           
            </form>
        </div>
    </div>
<% include ./partials/footer %>